 *{ 
    margin: 0;
    padding: 0;
    font-family: sans-serif;
 }
 .banner {
   background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('food1.jpg');
   background-size: cover;
   background-position: center;
   height: 100vh;
   width: 100%;
 }
 .navbar {
  float:right;
  align-items: center;
  justify-content:space-between ;
  margin-top: 25px;
  
 }
 .navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  float: left;
  
 }
 .navbar ul li {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 20px;
  border: 1px solid #fff transparent ;
  transition: 0.6s ease  ;

 }
 .navbar ul li:hover {
  background-color: #fff;
  color: #000;
}
.navbar ul li.active {
  background-color: #fff;
  color: #000;
}
.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.title h1{
  color: red;
  font-size: 70px;

}